/* Profile Page */
.profile-box {
    background-image: url("https://freepngimg.com/thumb/decorative_border/34944-9-leaf-frame-transparent.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    height: 30vh;
}

.profile-box h2 span {
    font-size: 70%;
}

.profile-box .edit-profile-form input {
    font-size: 100%;
}

.profile-wrap {
    flex: 1;
    color: black;
}

.profile-wrap button {
    margin-top: 20px;
}

.profile-img img {
    width: 130px;
    margin: 20px;
}

.profile-img button {
    display: block;
    margin-left: 27px;
    margin-top: 0;
}

.profile-info {
    padding: 20px;
    padding-left: 0;
    font-weight: 400;
}


.edit-profile-form {
    background-color: rgba(0, 0, 0, 0.233);
    padding: 10px;
    animation-duration: 2s;
    animation-name: slideLeft;
}

.edit-profile-form h5 {
    width: 200px;
}

.edit-profile-form label {
    margin: 0 10px;
    font-weight: 900;
}

.edit-profile-form input {
    margin-bottom: 10px;
    padding: 10px;
}

.last-name {
    width: 130px;
}

.back-ground {
    width: 130px;
}

.profile-post-container {
    color: gray;
}

.profile-post-container a {
    font-weight: 900;
    text-decoration: none;
    color: rgba(31, 29, 29, 0.856);
}

.profile-post-container a:hover {
    color: tomato;
}

.profile-post-container img {
    width: 300px;
    height: 200px;
    padding: 20px;
    padding-left: 0;
    border-radius: 30px;
}

.profile-post-container .post-date {
    color: tomato;
    font-size: 85%;
    font-weight: 600;
}

.profile-post-detail {
    width: 100%;
    padding: 20px;
    padding-left: 0;
}

.profile-post-detail h6 {
    font-weight: 900;
}

.profile-comment-container {
    padding-top: 10px;
    color: rgba(31, 29, 29, 0.856);
    font-size: 95%;
    border-top: 1px solid gray;
}

.profile-comment-container .date {
    color: tomato;
    font-weight: 600;
    padding: 0 5px;
    margin-bottom: 5px;
}

.comment-link {
    padding-bottom: 5px;
    padding-left: 0;
    margin-bottom: 0;
}

.comment-comment {
    margin: 0;
    color: gray;
}

.comment-comment:hover {
    color: black;
    font-weight: 900;
}

.profile-comment-container a {
    text-decoration: none;
    text-size-adjust: 90%;
}

@keyframes animatetop {
    from {top: -200px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  @keyframes slideLeft {
    from {left: -200px; opacity: 0}
    to {left: 0; opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

@media only screen and (max-width: 1200px) {
    .history-box {
        padding: 0;
    }

    .profile-post-container img {
        display: none;
    }

    .profile-comment-history {
        padding: 0;
    }

    .profile-comment-container {
        padding-left: 0;
        padding-top: 0;
    }


}

@media only screen and (max-width: 700px) {

    .history-box {
        padding: 0;
    }

    .profile-img img {
        margin-left: 0;
    }

    .profile-img button {
        margin-left: 0;
    }

    .profile-box {
        height: inherit;
        flex-direction: column;
    }

    .profile-wrap {
        flex-direction: column;
        padding-left: 30px;
    }

    .edit-profile-form {
        background-color: rgba(0, 0, 0, 0.233);
    }


}

