/* PostDetail */
.topic-container {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    padding: 20px;
    margin: 20px 0;
    color: white;
    font-size: 105%;
}

.topic-container h2 {
    font-family: 'Abril Fatface', cursive;
}

.channel-detail {
    margin: 40px 0 30px 0;
}

.post-button-option {
    position: absolute;
    right: 20px;
    top: 20px;
}

/* PostDetail */
.postsDetail-container {
    position: relative;
    margin: 50px 0;
    color: rgb(95, 93, 93);
}

.postsDetail-container a {
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 120%;
    color: rgb(245, 65, 46);
}

.postsDetail-container h3 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(49, 48, 48);
}

.postsDetail-container span {
    padding: 0 5px;
    font-size: 90%;
}

.postsDetail-container .icons {
    font-size: 130%;
    color: rgb(245, 65, 46);
}

.postsDetail-container .btn {
    font-size: 90%;
    font-weight: 900;
    margin-right: 5px;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.postsDetail-container .contents {
    font-size: 95%;
}

.postsDetail-container img {
    width: 100%;
    border-radius: 10px;
}

.comment-container {
    padding: 30px 0;
}

.comment-form-container {
    background-image: url('https://images.unsplash.com/photo-1514593214839-ce1849100055?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3367&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px 0;
    padding: 5% 0;
}

.comment-form-container h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(47, 45, 45);
}

.comment-form {
    background-color: white;
    border-radius: 5px;
    width: 50%;
}


/* postDetail Form */
.post-edit-form-container {
    margin: 30px auto;
    padding: 3% 0;
    background-color: rgb(226, 221, 221);
    border-radius: 5px;
    width: 50%;
}

.post-edit-form-container h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(138, 109, 138);
}

.post-edit-form {
    margin: 40px auto;
    width: 75%;
}

.post-edit-form label {
    font-weight: 700;
    color: rgb(107, 101, 107);
}

.post-edit-form input, .post-edit-form textarea {
    font-size: 100%;
    color: gray;
}
