.profile-container {
    padding: 30px 0;
}

.profile-post-history {
    padding: 30px 0;
    flex: 1.5;
}

.profile-comment-history {
    padding: 30px 0;
    flex: 1;
    flex-wrap: wrap;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
}

.profile-post-history h2, .profile-comment-history h2 {
    font-family: 'Abril Fatface', cursive;
    color: coral;
}

.history-box {
    padding-left: 20px;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .profile-container {
        padding: 20px;
    }

    .profile-box-post-comment {
        flex-direction: column;
    }

    .profile-comment-history {
        border: none;
        padding: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .profile-box-post-comment {
        flex-direction: column;
    }

    .profile-comment-history {
        padding: 0;
    }
}