.channel-container {
    position: fixed;
    right: 230px;
    margin: 20px;
    padding: 0 20px;
}

.channel-container h4 {
    font-family: 'Abril Fatface', cursive;
    color: tomato;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1600px) {
    .channel-container {
        display: none;
    } 
}