.nav-header {
    position: relative;
}

.nav-sub-header {
    background-image: url("https://cdn.shopify.com/s/files/1/2656/8500/products/rasch-portfolio-xii-green-leaf-wallpaper-214628_1024x.jpg?v=1569315319");
    background-position: center;
    position: relative;
    height: 45vh;
}

.nav-sub-header h4 {
    font-weight: 900;
    font-size: 19px;
    padding-left: 50px;
    color: rgb(23, 41, 23);
    text-shadow: 1px 1px #f5faf665;
}

.display-3 {
    padding-top: 210px;
    padding-left: 40px;
    font-weight: 900;
    font-size: 90;
    color: rgb(23, 41, 23);
    text-shadow: 1px 1px #7e888065;
}

.nav-menu {
    background-color: rgba(17, 20, 19, 0.356);
    z-index: 1;
}

.nav-box {
    position: relative;
    padding: 0 50px;
}

.nav-box a {
    text-decoration: none;
    cursor: pointer;
}

.nav-box a:hover {
    transform: scale(1.1)
}

.nav-link {
    margin-right: 5px;
    padding: 0;
    cursor: pointer;
    font-weight: 900;
    color: black !important;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-authorized {
    position: absolute;
    right: 50px;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    font-weight: 900;
    color: black !important;
    border: none;
    padding: 0;
}

.dropbtn:hover {
    transform: scale(1.1);
    color: rgb(28, 37, 27);
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: rgb(180, 176, 176);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(31, 29, 29, 0.856);
    font-size: 100%;
    padding: 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(199, 196, 196);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background: none;}

@media only screen and (max-width: 700px) {
    .nav-authorized {
        position: relative;
        right: 0;
    }

    .nav-box a:hover {
        transform: scale(1)
    }

    .nav-link:hover {
        transform: scale(1);
    }

    .dropbtn:hover {
        transform: scale(1);
    }
}