.navbar-sticky-top {
    top: 0;
    position: fixed;
    width: 100%;
    transition: transform 0.5s;
    z-index: 99999;
}

.light-nav {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    z-index: 9999;
}

.navbar-user {
    border-radius: 50px;
}

.navbar-user img {
    margin: 0;
    border-radius: 50%;
    border: 3px solid white;
}

@media (max-width: 992px) {  
    #navbar-1 {
        background-color: rgba(0,0,0,0.8);
    }
  }