.posts-detail {
    margin-bottom: 30px;
    /* padding: 20px; */
}

.channel {
    font-family: 'Abril Fatface', cursive;
    font-size: 90%;
    color: rgb(231, 111, 41);
}
.posts-detail a {
    font-family: 'Abril Fatface', cursive;
    color: #1a1a1a;
}

.posts-detail a:hover {
    text-decoration: none;
    color: rgb(231, 111, 41);
}



.posts-detail img {
    width: 300px;
    height: auto;
}

.profile-slug {
    color: rgb(172, 171, 171);
    font-weight: 300;
}

.profile-slug span {
    font-family: 'Merriweather', serif;
    color: rgb(231, 111, 41);
    font-weight: 400;
}

.profile-slug span:hover {
    color: rgb(150, 126, 82);
}

.posts-content-box {
    margin-left: 20px;
}

.posts-content {
    color: gray;
}

/* Create Posts */
.posts-create-container {
    background-color: rgb(233, 231, 231);
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
}

.posts-create-container h1 {
    font-family: 'Abril Fatface', cursive;
    color: rgb(90, 80, 90);
}

.posts-create-container input, .posts-create-container textarea {
    font-size: 100%;
    color: gray;
}

.posts-create-container label {
    font-weight: 700;
    color: rgb(107, 101, 107);
}

