.post-headline {
    height: 60vh;
    background-color: #001630;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1523365154888-8a758819b722?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2098&q=80');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
}

@media (max-width: 992px) {  
    .post-container {
        top: 30px;
    }
  }