@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Merriweather&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 90%;
}

.alert {
    color: rgb(236, 80, 24);
    padding: 10px 15px;
    padding-bottom: 0;
    
}