* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://d3d71ba2asa5oz.cloudfront.net/73000874/images/fd24136%20first%20pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.alert {
    color: rgb(236, 80, 24);
    padding: 10px 15px;
    padding-bottom: 0;
    
}