#login {
    position: relative;
    width: 35%;
    font-family: 'Special Elite', cursive;
    color: rgb(23, 41, 23);
    text-shadow: 1px 1px #7e888065;
    animation-duration: 1s;
    animation-name: fadeInDown;
}

#login h3 {
    border-bottom-style: solid;
}

#login input {
    font-size: 100%;
}

#login button {
    font-size: 100%;
    font-weight: 400;
}

#login .alert {
    padding-left: 0;
}

.login-box, .signup-box {
    background-image: url("https://i.pinimg.com/originals/5c/bf/2a/5cbf2aae9d733b8d58bc6c04f6084857.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 65vh;
    padding: 40px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}

#signup {
    position: relative;
    width: 35%;
    font-family: 'Special Elite', cursive;
    color: rgb(23, 41, 23);
    text-shadow: 1px 1px #7e888065;
    animation-duration: 1s;
    animation-name: fadeInDown;
}

#signup input {
    font-size: 100%;
}

#signup h3 {
    border-bottom-style: solid;
    margin-bottom: 20px;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    #login {
        width: 90%;
    } 

    #signup {
        width: 90%;
    }
}