#login, #signup {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #001630;
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.9)), url('https://images.unsplash.com/photo-1478728073286-db190d3d8ce6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1868&q=80');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome {
    color: #e8e8e8;
    font-weight: 100;
    text-shadow: white 0px 0px 1px;
}

.content {
    font-size: 1.1rem;   
}

.login-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    padding: 30px;
    max-width: 511px;
}

::placeholder {
    color: gray;
    font-weight: 300;
    font-size: 0.9rem;
    opacity: 0.8
}

.control::placeholder {
    color: rgba(240,98,146 ,1);
}

input {
    background-color: transparent;
    padding: 1px 0px 3px 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 3px;
    margin-top: 2px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    font-weight: 500
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #5e9bfc;
    outline-width: 0
}
